.App {
  text-align: center;
}

.add-post-button {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.add-post-button a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

.delete-post-button {
  transform: scale(.9);
}

.edit-post-button {
  transform: scale(.9);
}

.create-post-form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.form-body {
  min-height: 200px;
}

.active-link {
  color: red;
  font-weight: bold;
}

.nav-bar {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  max-width: 600px;
}

.order-by-select {
  margin-right: 20px;
}

.post-mini-paper {
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
}

.post-mini-view-vote {
  display: flex;
  justify-content: center;
}

.mini-view-button-container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
}

.post-category-title {
  border-bottom: 3px solid red;
}

.post-preview {
  margin-bottom: 10px;
}

.post-preview-body {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

.post-info-container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  -webkit-justify-content: center;
  -webkit-justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.post-detail-container {
  border-bottom: 1px solid blue;
}

.post-body {
  margin-bottom: 10px;
  min-height: 300px;
  text-align: left;
  padding: 10px;
}

.post-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 25px;
}

.vote-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
}

.up-vote {
  color: green;
  padding: 0;
  font-size: 20px;
  border: 0px;
}
.current-vote-count {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
}

.comment-header {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 25px;
}

.comment-container {
  margin-top: 10px;
  padding: 10px;
}

.comment-body {
  text-align: left;
}

.comment-author {
}

.comment-form-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.comment-form-body {
  margin-right: 10px;
  height: 100px;
  width: 475px;
}

.comment-update-body{
  height: 75px;
  width: 300px;
}

.comment-update-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.update-comment-button {
  margin-left: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.comment-button-container {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.edit-comment-button {
  margin-bottom: 5px;
}

.delete-comment-button {
  margin-left: 5px;
  height: 30px;
}

.nothing-here-container {
  margin-top: 10%;
  height: 500px;
  width: 100%;
}

.nothing-here {
  height: 100%;
  width: 100%;
    background-image: url('./icons/not-found.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (max-width: 992px) {
  .comment-button-container {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
  }
}

@media (max-width: 715px) {
  .comment-form-container {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 510px) {
  .comment-form-body {
    width: 300px;
  }
  .comment-update-container {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .update-comment-button {
    -webkit-justify-content: center;
    justify-content: center;
  }
}

@media (max-width: 360px) {
  .comment-form-body {
    width: 250px;
  }
  .comment-update-body {
    width: 250px;
  }
}
